html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    color: #333;
    background: #f5f5f5;
}
h1{
    margin-top:0;
}
nav{
    width: 100%;
    height: 50px;
    border-top: rgb(181, 181, 181) solid 1px;
    background: #9edce0;
    color: white;
    font-size: 1.25rem;
    z-index: 999;
}
nav ul{
    list-style: none;
    margin: 0;
    float: left;
    white-space: nowrap;
}
nav ul li{
    padding: .75rem 2rem;
    display: inline-block;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a::after{
    color:white;
}
nav ul li a:hover{
    cursor: pointer;
}
.SearchBar{
    float: right;
    height: 100%;   
    padding: 3px 0;
    width:30%;
}
#SearchBar{
    background: rgb(255, 255, 255);
    margin-right: 2rem;
    padding-left: .5rem;
    height: 80%;
    width: 65%;
    z-index: 999;
    border: none;
    border-radius: 10px;
}
section{
    background-color: white;
    display: block;
    max-width: 1190px;
    margin: 60px auto;
    margin-top:45px;
    overflow: hidden;
    border: #f5f5f5 solid 1rem;
}
.events{
    display: grid;
    grid-template-areas:"title title2" 
                        "eventLeft eventRight";
}
.title2{
    grid-area: title2;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
}   
.title{
    grid-area: title;
    padding: 1rem;
}
.eventLeft{
    grid-area: eventLeft;
    padding: 1rem;
}
.eventRight{
    grid-area: eventRight;
    padding: 2rem;
    padding-top: 1rem;
}
.bookImg{
    width: 100%;
    padding-bottom: 2rem;
    object-fit: cover;
    display: flex;
    justify-content: end;
}
.bookImg img{
    max-height: 20rem;
}
.images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.image{
    padding: 1rem;
    flex: 33%;

}
.image img{
    width: 100%;
}

.banner{
    height: 25rem;
    font-family: 'Pacifico', cursive;
    color:coral;
    align-content: center;
    background: url(https://images.unsplash.com/photo-1542086319-4d3b7555385b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1426&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}
.banner h1 , .banner h2{
    color: coral;
    width: 100%;
}
/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px){
    nav{
        display: none;
    }
    .banner {
        border: #f5f5f5 solid 1rem;
        display: grid;
        grid-template-columns: 1fr 80% 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        height: 12rem;

    }

    .menu-bar {
        background-color: rgb(255, 255, 255);
        padding-top: 20px;
        height: 100%;
        margin: 0;
        grid-row: 1/4;

    }

    .menu-bar .bar {
        border: #333 solid 2px;
        display: block;
        margin: 0 auto;
        margin-bottom: 3px;
        width: 1.25rem;
        border-radius: 5px;
        grid-row-start: 1;
    }

    .banner h1 {
        border-top: white 1rem solid;
    }

    .banner h2 {
        border-bottom: white .5rem solid;
    }

    .banner h1,
    .banner h2 {
        grid-column-start: 2;
        font-size:1.75rem;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .whiteSpace {
        grid-column-start: 3;
        grid-row: 1/4;
        background-color: white;
        height: 100%;
        width: 100%;
    }
}
/* Media Query for low resolution Tablets, Ipads */
@media only screen and (min-width: 481px) and (max-width: 768px){
    .banner{
        border: #f5f5f5 solid 1rem;
        display: grid;
        grid-template-columns: 1fr 80% 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;

    }
    .menu-bar{
        background-color: rgb(255, 255, 255);
        padding-top: 20px;
        height: 100%;
        padding-top: 20px;
        margin:0;
        grid-row: 1/4;

    }
    .menu-bar .bar{
        border: #333 solid 2px;
        display: block;
        margin: 0 auto;
        margin-bottom: 3px;
        width: 25px;
        border-radius: 5px;
        grid-row-start: 1;
    }
    .banner h1{
        border-top: white 1rem solid;
    }
    .banner h2{
        border-bottom: white 1rem solid;
    }
    
    .banner h1 , .banner h2{
        grid-column-start: 2;
        font-size: 3.25rem;
        text-align: center;
        margin: 0;
    }
    .whiteSpace{
        grid-column-start: 3;
        grid-row:1/4;
        background-color: white;
        height: 100%;
        width: 100%;
    }
    nav{
        display: none;
    }
}
/* Media Query for high resolution Tablets, Ipads */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    header{
        border: #f5f5f5 solid 1rem;
    }
    .banner h1 , .banner h2{
        font-size: 4rem;
        text-align: center;
        margin-bottom: 0;
    }
    .bookImg img{
        max-height: 15rem;
    }
}
/* Media Query for Laptops and Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1280px){
    header{
        border: #f5f5f5 solid 1rem;
    }
    .banner h1 , .banner h2{
        font-size: 4.25rem;
        padding-left: 3rem;
        margin-bottom: 0;
    }
}
/* Media Query for Large Screens */
@media only screen and (min-width: 1281px){
    header{
        border: #f5f5f5 solid 1rem;
    }
    .banner h1 , .banner h2{
        font-size: 5rem;
        margin-bottom: 0;
        padding-left: 3.75rem;
    }
}

