html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    color: #333;
    background: #f5f5f5;
}
h1{
    margin-top:0;
}
nav{
    width: 100%;
    height: 50px;
    border-top: rgb(181, 181, 181) solid 1px;
    background: #9edce0;
    color: white;
    font-size: 1.25rem;
    z-index: 999;
}
nav ul{
    list-style: none;
    margin: 0;
    float: left;
    white-space: nowrap;
}
nav ul li{
    padding: .75rem 2rem;
    display: inline-block;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a::after{
    color:white;
}
nav ul li a:hover{
    cursor: pointer;
}
.menu-bar-button{
    display: none;
}
.menu{
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
    background: rgba(243, 243, 243, 0.98);
    transition: 0.3s;
    z-index: 998;
}
.mobile-menu-toggle {
    border: #333 solid 1px;
    background-color: rgb(218, 218, 218);
    color: black;
    display: block;
    text-align: center;
    font-size: 2rem;
}
.menu-options{
    margin: 0;
    padding: 0;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 999;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu ul li{
    max-width: 1190px;
    border: #333 solid 1px;
    padding: .75rem 2rem;
}
.menu ul li a{
    text-decoration: none;
    color: #333;
}
.SearchBar{
    float: right;
    height: 100%;   
    padding: 3px 0;
    width:30%;
}
#SearchBar{
    background: rgb(255, 255, 255);
    margin-right: 2rem;
    padding-left: .5rem;
    height: 80%;
    width: 65%;
    z-index: 999;
    border: none;
    border-radius: 10px;
}
section{
    background-color: white;
    display: block;
    max-width: 1190px;
    margin: 60px auto;
    margin-top:45px;
    overflow: hidden;
    border: #f5f5f5 solid 1rem;
}
.events{
    display: grid;
    grid-template-areas:"title title2" 
                        "eventLeft eventRight";
    grid-template-columns: 70% 30%;
}
.title2{
    grid-area: title2;
    padding: 1rem 1rem 0 1rem;
    margin-right: 1rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}   
.title{
    grid-area: title;
    padding: 1rem;
}
.eventLeft{
    grid-area: eventLeft;
    padding: 1rem;
}
.eventRight{
    grid-area: eventRight;
    margin-right: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.bookImg{
    max-width: fit-content;
    flex:1;
}
.bookImg img{
    height: auto;
    width: 100%;
    max-width: 225px;
    min-width: 130px;
}
.images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.image{
    padding: 1rem;
    flex: 33%;
}
.image img{
    width: 100%;    
    height: auto;
}
.banner{
    height: 25rem;
    font-family: 'Pacifico', cursive;
    color:coral;
    align-content: center;
    background: url(https://images.unsplash.com/photo-1542086319-4d3b7555385b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1426&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}
.banner h1 , .banner h2{
    color: coral;
    width: 100%;
}
footer{
    width: 100%;
    height: 215px;
    border-top: rgb(181, 181, 181) solid 1px;
    background: #9edce0;
    color: white;
    font-size: 1.25rem;
    z-index: 999;
    bottom: 0px;
}
/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px){
    nav{
        display: flex;
        overflow: hidden;
        justify-content: center;
    }

    nav > ul{
        display: none;
    }

    .bar{
        display: block;
        width: 30px;
        height: 4px;
        margin: 5px auto;
        background-color: #333;
        border-radius: 5px;
    }

    .SearchBar{
        display: flex;
        height: 40px;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        float: none;
        width: 100%;
        z-index: 998;
    }

    #SearchBar{
        margin:0;
    }

    .banner {
        height: 5rem;
        background-image: none;
        background-color: white;
        display: flex;
        align-items: center;
    }

    .menu-bar {
        margin: 0;
    }

    .menu-bar-button {
        display: block;
        padding-left: 1rem;   
    }
    .banner h1 {
        text-align: center;
        margin-top: 1.15rem;
        font-size: 2.5rem;
    }

    .banner h2 {
        display: none;
    }

    section{
        margin:0;
    }

    .title{
        margin-bottom: 0;
        text-align: center;
    }

    .events{
        display: grid;
        grid-template-areas: "title title"
                        "eventLeft eventLeft"
                        "title2 title2"
                        "eventRight eventRight";
    }

    .eventRight{
        margin-right: 0;
        padding: 0;
        display: grid;
        gap: 2rem;
        padding-left: 1rem;
        grid-auto-flow: column;
        grid-auto-columns: 55%;
        justify-content: left;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .bookImg{
        border: #aecbcd solid 3px;
        padding: 1rem;
        background-color: #f5f5f5;
        border-radius: 5px;;
    }
    
    .bookImg > img{
        width: 100%;
        height: auto;
    }
    
    .inlineScroll{
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 1rem;
    }
    
    .inlineScroll > *{
        scroll-snap-align: center;
    }

    .menu{
        transition: all .5s ease-in-out;
        position: fixed;
    }
    .menu.active{
        left: 0;
    }
}

@media only screen and (max-width: 545px) {
    .banner h1 {
        font-size: 1.85rem;
    }
}
/* Media Query for Mobile and Tablet Devices */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    header{
        border: #f5f5f5 solid 1rem;
    }
    .banner h1 , .banner h2{
        font-size: 4rem;
        text-align: center;
        margin-bottom: 0;
    }
    .events{
        grid-template-columns: 60% 40%;
    }
    .extraBooks {
        display: none !important;
    }

}
/* Media Query for Laptops and Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1280px){
    header{
        border: #f5f5f5 solid 1rem;
    }
    .banner h1 , .banner h2{
        font-size: 4.25rem;
        padding-left: 3rem;
        margin-bottom: 0;
    }
    .extraBooks {
        display: none !important;
    }
}
/* Media Query for Large Screens */
@media only screen and (min-width: 1281px){
    header{
        border: #f5f5f5 solid 1rem;
    }
    .banner h1 , .banner h2{
        font-size: 5rem;
        margin-bottom: 0;
        padding-left: 3.75rem;
    }
    .extraBooks {
        display: none !important;
    }
}
